.row {
    background: url('/packs/polka.png') no-repeat center center;
    /* background-size: cover; */
    background-size: contain;
    height: 163px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

