/* AppLayout.module.css */

.shackTop {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 50vh;
    background-image: url('/shack/shack_top.JPG');
    background-size: cover;
    background-position: center;
    z-index: var(--shack-z-index);
  }
  
  .shackBottom {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50vh;
    background-image: url('/shack/shack_bottom.JPG');
    background-size: cover;
    background-position: center;
    z-index: var(--shack-z-index);
  }

  .desktop {
    max-width: var(--max-mobile-width);
    margin: 0 auto;
  }