:root {
  /* Text colors */
  --text-primary: #ffffff;
  --text-secondary: #f8f9fa;
  --text-muted: #a67fc2;
  --text-error: #ef4444;
  --text-highlight: #FFD900;
  
  /* Background colors */
  --bg-primary: #501d7c;
  --bg-secondary: #6d3e95;
  --bg-accent: #33b1fc;
  --bg-highlight: #e07a19;

  --bg-gradient: linear-gradient(180deg, #270E3D 0%, #0C0A20 100%);

  --bg-card: linear-gradient(0deg, #E07A19, #E07A19),linear-gradient(86.81deg, rgba(255, 255, 255, 0) -2.83%, rgba(255, 255, 255, 0.147) 73.5%, rgba(255, 255, 255, 0.2) 101.02%);
  

  
  /* Button colors */
  --btn-primary: #33b1fc;
  --btn-primary-hover: #2aa0e5;
  --btn-secondary: #6d3e95;
  --btn-secondary-hover: #5d2e85;
  
  /* Theme colors */
  --theme-purple: #501d7c;
  --theme-yellow: #f8c52c;
  --theme-orange: #e07a19;
  --theme-orange-light: #f5a623;
  --theme-dark: #002a3a;
  
  /* Border colors */
  --border-white-light: rgba(255, 255, 255, 0.25);
  --border-white-medium: rgba(255, 255, 255, 0.4);
  --border-white-strong: rgba(255, 255, 255, 0.6);


  --navigation-height: 70px;
  --navigation-width: 100%;
  --nav-text-color: #860C0C;

}

/* Dark mode overrides if needed */
.dark {
  /* Add dark mode specific variables here */
  --nav-text-color: #c295fa;
  --bg-card: linear-gradient(0deg, var(--bg-primary), var(--bg-primary)),linear-gradient(32.35deg, rgba(255, 255, 255, 0) 42%, rgba(255, 255, 255, 0.35) 100%);


} 