.shackContainer {
  position: fixed;

  width: 100vw;
  top: 0;
  left: 0;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black !important;

}

.animationContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.topImage, .bottomImage {
  position: relative;
  transition: transform 1s ease-in-out;
  width: 100%;
  height: 50%;
  overflow: hidden;
}

.topImage {
  transform: translateY(-100%);
}

.bottomImage {
  transform: translateY(100%);
}

.topConnected {
  transform: translateY(0);
}

.bottomConnected {
  transform: translateY(0);
}

.mainContent {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  transition-delay: 1s;
  z-index: 5;
  text-align: center;
}

.visible {
  opacity: 1;
} 